segmentation-models==1.0.1
statsmodels==0.14.0
streamlit==1.23.1
streamlit-pandas-profiling==0.1.3
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tqdm==4.65.0
transformers==4.19.2
absl-py==1.4.0
accelerate==0.18.0
aiobotocore==2.5.0
aiofiles==23.1.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
altair==5.0.0
ansi2html==1.8.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
botocore==1.29.76
cachetools==5.3.0
category-encoders==2.6.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
contourpy==1.0.7
croniter==1.3.15
cycler==0.11.0
Cython==0.29.35
dacite==1.8.1
dash==2.10.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.6.7
decorator==4.4.2
deepspeech==0.9.3
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
diffusers==0.15.0
efficientnet==1.0.0
entrypoints==0.3
executing==1.2.0
fastapi==0.95.1
fastjsonschema==2.17.1
ffmpy==0.3.0
filelock==3.11.0
Flask==2.2.3
flatbuffers==23.3.3
fonttools==4.39.4
frozenlist==1.3.3
fsspec==2023.5.0
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.18.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
gradio==3.30.0
gradio_client==0.2.4
greenlet==2.0.2
grpcio==1.54.2
h11==0.14.0
h5py==3.8.0
htmlmin==0.1.12
httpcore==0.16.3
httplib2==0.22.0
httpx==0.23.3
huggingface-hub==0.13.4
humanfriendly==10.0
idna==3.4
image-classifiers==1.0.0
ImageHash==4.3.1
imageio==2.30.0
imageio-ffmpeg==0.4.8
imbalanced-learn==0.10.1
importlib-metadata==6.0.0
importlib-resources==5.12.0
invisible-watermark==0.1.5
ipykernel==6.23.1
ipython==8.13.2
ipython-genutils==0.2.0
ipywidgets==8.0.6
itsdangerous==2.1.2
jax==0.4.10
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.3.3
jupyter-dash==0.4.2
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_scheduler==1.3.2
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kaggle==1.5.13
kaleido==0.2.1
keras==2.12.0
Keras-Applications==1.0.8
kiwisolver==1.4.4
lazy_loader==0.2
libclang==16.0.0
lightgbm==3.3.5
linkify-it-py==2.0.2
llvmlite==0.40.1rc1
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistune==2.0.5
ml-dtypes==0.1.0
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
multimethod==1.9.1
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.9.0
nest-asyncio==1.5.4
networkx==3.1
numba==0.57.0
numpy==1.22.4
oauth2client==4.1.3
oauthlib==3.2.2
onnx==1.13.1
onnxruntime==1.14.1
onnxruntime-gpu==1.15.0
opencv-python==4.5.4.58
opt-einsum==3.3.0
orjson==3.8.12
overrides==7.3.1
packaging==21.3
pandas==1.5.3
pandas-profiling==3.6.6
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
phik==0.12.3
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.5.1
plotly==5.15.0
plotly-resampler==0.8.3.2
pmdarima==2.0.3
proglog==0.1.10
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.1
pure-eval==0.2.2
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycaret==3.0.2
pycparser==2.21
pydantic==1.10.7
pydeck==0.8.1b0
pydub==0.25.1
Pygments==2.15.1
Pympler==1.0.1
pyod==1.0.9
pyparsing==3.0.6
pyreadline3==3.4.1
pyrsistent==0.18.0
pyTelegramBotAPI==4.12.0
python-dateutil==2.8.2
python-json-logger==2.0.7
python-multipart==0.0.6
python-slugify==8.0.1
python-telegram-bot==20.2
pytube==15.0.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==303
pywinpty==2.0.10
PyYAML==6.0
pyzmq==25.1.0
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.4.1
rsa==4.9
s3fs==2023.5.0
schemdraw==0.15
scikit-image==0.21.0
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.10.1
seaborn==0.12.2

